.aside{
	-fx-background-color:#262626;
}
.topbar{
	-fx-background-color:#ededed;
}
.topbarHeader{
	-fx-text-fill:#397ab8;
}
.adminNmae{
	-fx-text-fill:white;
}
/*table view */
.table-view {
    -fx-background-color: transparent;
}

.logoutButton{
		-fx-background-color:#397ab8;
	    -fx-text-fill:white;
	   

}
.logoutButton:hover{
		-fx-background-color:white;
	    -fx-text-fill:#397ab8;

}


.buttonAside{
	-fx-background-color:#397ab8;
	
}
.searchButton{
	-fx-background-color:black;
	-fx-text-fill:white;
	-fx-cursor:hand;
	
}
.searchButton:hover{
	-fx-background-color:#525252;
	-fx-text-fill:white;
	
}
.tab:container{
	-fx-background-color:black;
	
}